<% provide(:title, "Calculator") %>

<script>
var index_box=-2;
var lock=false;

$(document).ready(
  function(){
    /* slider initialization */
    <% @items.values.each do |section| %>
      <% section.values.each do |item| %>
        $("#<%= item[:slider][:id] %>").slider({tooltip:'always'});
      <% end %>
    <% end %>
  }
);

/* fix browser back button cache */
jQuery(document).ready(function()
{
        var d = new Date();
        d = d.getTime();
        if (jQuery('#reloadValue').val().length == 0)
        {
                jQuery('#reloadValue').val(d);
                jQuery('body').show();
        }
        else
        {
                jQuery('#reloadValue').val('');
                location.reload();
        }
});

/* fix bug slider tooltip moved to the right */
function relayout(){
  switch(index_box){
  <% j=0 %>
  <% @items.values.each do |section| %>
    case <%= j %>:
    <% section.values.each do |item| %>
      $("#<%= item[:slider][:id] %>").slider("relayout");
    <% end %>
    break;
  <% j+=2 %>
  <% end %>
  }
}

/* turn off button div at the end of the test */
function buttonsOff(){
  document.getElementById("buttons").style.display = "none";
}

/* manage index of box increasing in relation to the presence of images */
function increase_index_box(){
  index_box += 1;
  /* if image box doesn't exist -> skip it */
  if (document.getElementById('box'+index_box) == null){
    index_box += 1;
  }
}

/* event on next button click */
function next(){
  if (lock==true) {return;} /* fix multiclick on next button (multiple fadeIn at the same time) */
  lock=true;

  $("#buttons").fadeOut();
  $("#box"+index_box).fadeOut(400,"swing",
                  // call-back function called after fadeOut
                  function(){
                    increase_index_box();

                    if (index_box==2) { // I'm going to the second box so I unlock previous button
                      $('#btn_previous').removeClass('disabled');
                    }

                    if (index_box == <%= @items.values.count*2 %>) { // test finished, I'm going to result box
                      buttonsOff();
                      send_result();

                    } else {
                      $("#buttons").fadeIn();
                    }

                    $("#box"+index_box).fadeIn(400, "swing", function(){
                      lock = false; // allow call of next and previous functions
                    });

                    relayout(); // fix slider tooltip bug
                  });
}

function decrease_index_box(){
  index_box -= 1;
  /* if image box doesn't exist -> skip it */
  if (document.getElementById('box'+index_box) == null){
    index_box -= 1;
  }
}

/* event on previous button click */
function previous(){
  if (lock==true) {return;}
  lock = true;

  $("#box"+index_box).fadeOut();
  $("#buttons").fadeOut(400,"swing",
                function(){
                  decrease_index_box();

                  if (index_box==0) { // I'm going to the first box so I disable previous button
                    $('#btn_previous').addClass('disabled');
                  }

                  $("#buttons").fadeIn();
                  $("#box"+index_box).fadeIn(400, "swing", function(){
                    lock = false;
                  });
                });
};

/* calculate, show and save result */
function send_result(){
  var tot = 0;
  <% @items.values.each do |section| %>
    <% section.each do |item, values| %>
      <% id = values[:slider][:id] %>
      tot += document.getElementById("<%= id %>").value * <%= values[:value] %>; // multiply slider value by coefficient
    <% end %>
  <% end %>

  document.getElementById("tot").innerHTML = Math.round(tot/7); // show result to user

  <% if current_user %>
    /* if I'm logged in -> send result to server that it saves on database */
    $.post("/users/<%= current_user.id %>/results?result[score]="+tot+"&result[user_id]="+<%= current_user.id %>)
  <% else %>
    /* else -> send data to controller that it saves in cookies */
    $.post("/save_result_in_cookies?static_page[result]="+tot)
  <% end %>
}
</script>

<input id="reloadValue" type="hidden" name="reloadValue" value="" /> <!-- hidden element save that page was reloaded -->

<div class="header_image">
  <div class="container"></div>
</div>

<div style="min-height:10px; background-color:#eee;">
</div>
<br />

<div class="container text-center">

  <!-- starter box -->
  <div id="box-2" class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3 waves-test-start">
    <p style="padding-top:240px; color:#007acc;">
      Do the test now and compare your result with USA average.
    </p>

    <div class="alert alert-info col-xs-10 col-xs-offset-1">
      <ul class="fa-ul">
        <li>
          <i class="fa fa-warning fa-lg fa-li" aria-hidden="true"></i>
          This test calculates only the water footprint related to food and clothing.
        </li>
      </ul>
    </div>

    <div style="padding-left: 25%;">
      <btn onclick="next()" class="btn btn-info btn-lg btn-xlg" style="border-radius: 40px;">Get Started</btn>
    </div>
  </div>

  <!-- question boxes -->
  <% i = 0 %>
  <% @items.values.each do |section| %>
  <div id="box<%= i %>" class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3" style="background-color:lightblue; display:none; border-radius: 30px;">
    <div>
      <% section.each do |item, values| %>
      <h3 class="lead"><%= values[:question] %></h3>
      <br />
      <% slider = values[:slider]
         max = slider[:max] %>
      <input  id="<%= slider[:id] %>"
              type="text"
              data-slider-ticks="[0, <%= max/2 %>, <%= max %>]"
              data-slider-min="0"
              data-slider-max="<%= max %>"
              data-slider-step="1"
              data-slider-value="<%= max/2 %>"
              data-slider-tooltip="show" />

        <p> <br /> </p> <!-- space before button/question -->
        <% if values[:description] %>
        <div class="alert alert-info">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-info-circle fa-lg fa-li" aria-hidden="true"></i>
              <%= values[:description] %>
            </li>
          </ul>
        </div>
        <% end %>

      <% end %>
    </div>
  </div>

  <!-- image boxes -->
  <% if @images[i/2] %>
  <div id="box<%= i+1 %>" class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3" style="background-color:lightblue; display:none; border-radius: 30px;">
    <%= image_tag(@images[i/2], style:"max-width:100%; max-height:100%;") %>
  </div>
  <% end %>
  <% i += 2 %>

  <% end %>

  <!-- buttons div -->
  <div id="buttons" class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3" style="display:none;">
    <br />
    <br />
    <button id="btn_previous" onclick="previous();" type="button" class="btn btn-primary disabled">Previous</button>
    <button id="btn_next" onclick="next();" type="button" class="btn btn-primary">Next</button>
    <p> <br /> </p> <!-- space after buttons -->
  </div>

  <!-- result box -->
  <div id="box<%= i %>" class="col-xs-12 col-sm-6 col-lg-6 col-sm-offset-3 col-lg-offset-3" style="background-color:lightblue; display:none;">
    <h3>Test Finished</h3>
    <p>Your water footprint was <span id="tot"></span> l/day during your last week.<br />
      <div class="alert alert-info">
        <strong>Tips!</strong> The USA has an average water footprint of 6.795 l/cap/day.
      </div>
      <% if current_user %>
        <hr />
        <a href="<%= user_results_path(current_user.id) %>"><button type="button" class="btn btn-primary" style="border-radius:10px;">History</button></a>
      <% else %>
        <hr />
        Signup or login to save your result
        <br />
        <br />
        <!-- signup and login buttons at the end of the test to save the last result -->        
        <a href="<%= signup_path %>"><button type="button" class="btn btn-primary" style="border-radius:10px;">Signup</button></a>
        <a href="<%= login_path %>"><button type="button" class="btn btn-primary" style="border-radius:10px;">Login</button></a>
      <% end %>
      <br />
      <br />
    </p>
  </div>


</div>
<br />
