<% provide(:title, "Home") %>

<!-- Header -->
    <!-- <a name="about"></a> -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Water Footprint Calculator</h1>
                        <h3>Home Page</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                              <a href="<%= calculator_path %>" class="btn btn-danger btn-lg btn-xlg" style="border-radius: 40px;"><span class="network-name"><strong>Do the Test Now</strong></span></a>
                            </li>
                        </ul>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="http://www.fbk.eu"  target=”_blank” class="btn btn-default btn-lg" style="border-radius: 40px;"><%= image_tag("fbk_logo.png", height:"20") %><span class="network-name">  FBK</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<!--<a name="services"></a>-->
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">What is the Water Footprint?</h2>
                    <p class="lead">Water Footprint is the measurement of water consumption that includes both direct and indirect usage by a consumer or a producer.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("content1.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">How much water do we waste every day?</h2>
                    <p class="lead">Despite what we might think, direct water usage is far
                      less than the indirect one; in fact a large quantity of water is used to
                      produce food and clothing.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag("content2.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Do you want to know more<br />about Water Footprint?</h2>
                    <h3 class="section-heading"><%= link_to "Read more.", info_path %></h3>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <%= image_tag("content3.png", class:"img-responsive") %>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->



	<!--<a name="contact"></a>-->
    <div class="banner">

        <div class="container">
          <a href="<%= calculator_path %>" class="btn btn-danger btn-lg btn-xlg" style="border-radius: 40px;"><span class="network-name"><strong>Do the Test Now</strong></span></a>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
