<div style="background-color:#eee;background-image:none;background-repeat:repeat;background-position:top left;color:#333;font-family:Helvetica,Arial,sans-serif;line-height:1.25">
  <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
    <tbody><tr>
      <td align="center" valign="top">
        <table border="0" cellpadding="20" cellspacing="0" width="600">
          <tbody><tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left">

                <tbody><tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" height="90" width="100%" style="background-color:#fff;background-image:none;background-repeat:repeat;background-position:top left">
                      <tbody><tr>
                        <td align="center" valign="middle">
                          <a href="<%= root_path %>" target="_blank">
                            <img src="<%= 'https://github.com/DavideLusuardi/water_footprint/blob/emailConfirm/app/assets/images/email_confirm_logo.png?raw=true' %>" width="280" alt="WFC" class="CToWUd">
                          </a>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" height="1" width="100%">
                      <tbody><tr>
                        <td align="center" valign="middle" style="background-color:#eeeeee" width="249"></td>
                        <td align="center" valign="middle" style="background-color:#0033cc" width="300"></td>
                        <td align="center" valign="middle" style="background-color:#eeeeee" width="249"></td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>



<tr>
  <td align="center" valign="top">
    <table border="0" cellpadding="40" cellspacing="0" height="0" width="100%">
      <tbody><tr>
        <td align="center" valign="middle">
          <div><h3 color="#0033cc">
            Hi <%= @user.username %>, <br />
			Thanks for registering! To confirm your registration click the button below
			</h3>
           <div>
            <a href="<%= confirm_email_user_url(@user.confirm_token) %>" style="border-radius:20px; background-color:#428bca;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:20px;line-height:40px;margin-bottom:10px;text-align:center;text-decoration:none;width:200px" target="_blank">
              Confirm email
            </a>
			<br/>
            <br>
            <small style="color:#999;font-size:14px;margin-top:4px;margin-bottom:4px;margin-right:4px;margin-left:4px">Or click this link to delete it if you didn't create it.
			<br/>
			 <a href="<%= delete_email_user_url(@user.delete_token) %>" style="color:#999" target="_blank">
                Delete Your Account
              </a>
            </small>
          </div>
			<br/>

        </td>
      </tr>
    </tbody></table>
  </td>
</tr>
