<% provide(:script, stylesheet_link_tag("w3.css")) %>

<% provide(:title, "History") %>

<div class="info_header">

    <div class="container">

    </div>
    <!-- /.container -->

</div>
<!-- /.banner -->

<div class="jumbotron text-center">
  <h1>History</h1>
</div>

<% if @results.count != 0 %>
<div class="container">

  <div class="col-xs-12 col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">
    <table class="table table-striped table-hover table-responsive">
      <thead class="thead-inverse" style="background-color:#39f; color:#fff;">
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <% i=0; @results.each do |r| i+=1 %>
        <tr>
          <th scope="row"><%= i %></th>
          <td><%= r.created_at.strftime("%d %b. %Y") %></td>
          <td><%= r.score %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 col-sm-12 col-lg-10 col-lg-offset-1">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="w3-card-2 w3-hover-shadow">

        <header class="w3-container w3-light-grey">
          <h3><%= current_user.username %></h3>
        </header>

        <div class="w3-container">
          <br />
          <% if @results.last.score > @average %>
            <img src="<%= image_path("thumb-down.png") %>" alt="Graph" class="w3-left w3-margin-right" style="width:60px">
            <p>In comparison to your average, you did worst in your last test.</p>
          <% elsif @results.last.score < @average %>
            <img src="<%= image_path("thumb-up.png") %>" alt="Graph" class="w3-left w3-margin-right" style="width:60px">
            <p>In comparison to your average, you did better in your last test.</p>
          <% else %>
            <img src="<%= image_path("fa-line-chart.png") %>" alt="Graph" class="w3-left w3-margin-right" style="width:60px">
            <p>Your last test's score was like your average one.</p>
          <% end %>
        </div>
      </div>
    <br />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="w3-card-2 w3-hover-shadow">

        <header class="w3-container w3-light-grey">
          <h3>Average</h3>
        </header>

        <div class="w3-container">
          <br />
          <img src="<%= image_path("fa-bar-chart.png") %>" alt="Graph" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>Your average is:<br /><%= @average %></p> <!-- toDot() -->
        </div>

      </div>
    <br />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="w3-card-2 w3-hover-shadow">

        <header class="w3-container w3-light-grey">
          <h3>Minimum</h3>
        </header>

        <div class="w3-container">
          <br />
          <img src="<%= image_path("fa-line-chart-green.png") %>" alt="Graph" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>Your lowest result is:<br /><%= @min %></p>
        </div>

      </div>
    <br />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="w3-card-2 w3-hover-shadow">

        <header class="w3-container w3-light-grey">
          <h3>Maximum</h3>
        </header>

        <div class="w3-container">
          <br />
          <img src="<%= image_path("fa-line-chart-red.png") %>" alt="Graph" class="w3-left w3-circle w3-margin-right" style="width:60px">
          <p>Your highest result is:<br /><%= @max %></p>
        </div>

      </div>
    <br />
    </div>

  </div>


</div> <!-- end container -->

<% else %>
<div class="container text-center form-horizontal">
  <h3>You have no results</h3><br />
</div>
<% end %>
<br />
<div class="container text-center form-horizontal">
  <a href="<%= calculator_path %>" class="btn btn-danger btn-lg btn-xlg" style="border-radius: 40px;"><span class="network-name"><strong>Do the Test Now</strong></span></a>
</div>
<br />
<br />
